
.topbar{
    -fx-background-color: lightgray;
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.background{
    -fx-background-color: #95C2B6;
}

.sidepanel{
    -fx-background-color: #7DA99E;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #659085;
}

/* inputs */
.dropzone{
    -fx-border-color: darkgray;
    -fx-padding: 70px;
    -fx-alignment: center;
    -fx-background-color: gray
}

.formpanel{
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}
.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: #7DA99E;
    -fx-border-color: #659085;
    -fx-effect: dropshadow(gaussian, #1f2d2a, 3,0,0,3);
}

/* Estilo para DatePicker y sus partes internas */
.date-picker .arrow-button {
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: #7DA99E;
    -fx-border-color: #659085;
    -fx-effect: dropshadow(gaussian, #1f2d2a, 3,0,0,3);
}

.text-field, .spinner .text-field, .date-picker .text-field {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-background-color: #ADDACF;
    -fx-border-color: #7DA99E;
    -fx-effect: dropshadow(gaussian, #1f2d2a, 3,0,0,3);
}

.spinner, .date-picker{
   -fx-background-color: #95C2B6;
}

/* notifications */
.notification {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.notification:hover{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

/* buttons */
.navigatorButton{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #659085;
    -fx-border-color: #54786f;
    -fx-border-width: 1.5px;
    -fx-effect: dropshadow(gaussian, #1f2d2a, 3,0,0,3);
}

.actionbuttons{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #7DA99E;
    -fx-border-color: #659085;
    -fx-border-width: 1.5px;
    -fx-effect: dropshadow(gaussian, #1f2d2a, 3,0,0,3);
}

.closebuttons{
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-background-color: #d44646;
    -fx-border-color: #8a1a1a;
    -fx-border-width: 1.5px;
    -fx-effect: dropshadow(gaussian, #1f2d2a, 3,0,0,3);
}

/* scroll */
.scroll-bar .track {
    -fx-background-color: #addacf;
    -fx-background-radius: 7.5px;
    -fx-pref-width: 15px;
    -fx-min-width: 15px;
}

.scroll-bar:horizontal .track {
    -fx-background-color: #addacf;
    -fx-background-radius: 7.5px;
    -fx-pref-height: 15px;
    -fx-min-height: 15px;
}

.scroll-bar .thumb {
    -fx-background-color: #7da99e;
    -fx-background-radius: 7.5px;
    -fx-pref-width: 15px;
    -fx-min-width: 15px;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #7da99e;
    -fx-pref-height: 15px;
    -fx-min-height: 15px;
    -fx-background-radius: 7.5px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-radius: 7.5px;
    -fx-background-color: #addacf;
}

.scroll-bar{
    -fx-background-radius: 7.5px;
    -fx-background-color: #addacf;
}
.scroll-bar:horizontal{
    -fx-background-radius: 7.5px;
    -fx-background-color: #addacf;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
}

/* table views */
.table-view {
    -fx-background-color: #95c2b6;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-selection-bar: #72c0ac;
    -fx-selection-bar-non-focused: #addacf;
}

.table-view .column-header {
    -fx-background-color: #7da99e;
    -fx-border-color: #659085;
    -fx-border-width: 0 0 1px 0;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.table-view .table-cell {
    -fx-border-color: #7da99e;
    -fx-border-width: 0 1px 1px 0;
    -fx-padding: 5px;
}

.table-view .table-row-cell {
    -fx-background-color: #95c2b6;
}

.table-view .table-row-cell:focused {
    -fx-background-color: -fx-selection-bar;
}

.table-view .table-row-cell:selected {
    -fx-background-color: -fx-selection-bar-non-focused;
}

.table-view .table-row-cell:selected:focused {
    -fx-background-color: -fx-selection-bar;
}

